﻿<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
{% load static %}
<div class="container-lg">
  <form action="/start_strategy/" method="post">
    {% csrf_token %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ByBit BOT</a>
      

      {% if admin.status %}
      <div class="form-check form-switch" style="padding-left: 60px;">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="status" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
      </div>
      {% else %}
      <div class="form-check form-switch" style="padding-left: 60px;">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="status">
        <label class="form-check-label" for="flexSwitchCheckDefault">Status</label>
      </div>
      {% endif %}

      {% if admin.live %}
      <div class="form-check form-switch" style="padding-left: 60px;">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="live" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Live</label>
      </div>
      {% else %}
      <div class="form-check form-switch" style="padding-left: 60px;">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="live">
        <label class="form-check-label" for="flexSwitchCheckDefault">Live</label>
      </div>
      {% endif %}


      <div class="w-10 p-3 text-center">
        <a href="/handleLogout" class="btn btn-primary">Logout</a>
      </div>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        </ul>
      </div>
    </div>
  </nav>

  <div class="position-relative">


    <div class="input-group mb-3 p-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Api key</span>
        <input type="text" class="form-control" aria-label="Sizing example input" value="{{ admin.api_key }}" aria-describedby="inputGroup-sizing-default" name="api_key">
      </div>

      <div class="input-group mb-3 px-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Secret key</span>
        <input type="text" class="form-control" aria-label="Sizing example input" name="secret_key" value="{{ admin.secret_key }}" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3 p-3">
        <span class="input-group-text" id="inputGroup-sizing-default">investment</span>
        <input type="text" class="form-control" aria-label="Sizing example input" name="investment" value="{{ admin.investment }}" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3 px-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Symbols</span>
        <input type="text" class="form-control" aria-label="Sizing example input" name="symbols" value="{{ admin.symbols }}" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3 p-3">
        <span class="input-group-text" id="inputGroup-sizing-default">EMA period 1</span>
        <input type="text" class="form-control" aria-label="Sizing example input" name="EMA_1_period" value="{{ admin.EMA_1_period }}" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3 px-3">
        <span class="input-group-text" id="inputGroup-sizing-default">EMA period 2</span>
        <input type="text" class="form-control" aria-label="Sizing example input" name="EMA_2_period" value="{{ admin.EMA_2_period }}" aria-describedby="inputGroup-sizing-default">
      </div>


      <div class="input-group mb-3 p-3">
        <label class="input-group-text" for="inputGroupSelect01">TimeFrame</label>
        <select class="form-select" id="inputGroupSelect01" name="time_frame">

          {% if admin.time_frame == '5m' %}
          <option selected value="1m">1m</option>
          <option value="5m" >5m</option>
          <option value="15m">15m</option>
          <option value="1h">1h</option>
          <option value="1d">1d</option>
          {% elif admin.time_frame == '5m' %}
          <option value="1m" >1m</option>
          <option selected value="5m" >5m</option>
          <option value="15m">15m</option>
          <option value="1h">1h</option>
          <option value="1d">1d</option>
          {% elif admin.time_frame == '15m' %}
          <option value="1m" >1m</option>
          <option value="5m" >5m</option>
          <option selected value="15m">15m</option>
          <option value="1h">1h</option>
          <option value="1d">1d</option>
          {% elif admin.time_frame == '1h' %}
          <option value="1m" >1m</option>
          <option value="5m" >5m</option>
          <option value="15m">15m</option>
          <option selected value="1h">1h</option>
          <option value="1d">1d</option>
          {% else %}
          <option value="1m" >1m</option>
          <option value="5m" >5m</option>
          <option value="15m">15m</option>
          <option value="1h">1h</option>
          <option selected value="1d">1d</option>
          {% endif %}
        </select>
      </div>

      <div class="input-group mb-3 px-3">
        <span class="input-group-text" id="inputGroup-sizing-default">stoploss</span>
        <input type="text" class="form-control" name="stoploss" value="{{ admin.stoploss }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3 p-3">
        <span class="input-group-text" id="inputGroup-sizing-default">takeprofit</span>
        <input type="text" class="form-control" name="takeprofit" value="{{ admin.takeprofit }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

    <div class="w-100 p-3 text-center">
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>

  </div>

</form>

<!-- <div id="tvchart"></div> -->

<br><br>
<h2 style="text-align: center; padding-bottom: 10px; ">Present positions</h2>
  <div class="table-responsive">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">symbol</th>
          <th scope="col">Time in</th>
          <th scope="col">Price in</th>
          <th scope="col">type</th>
          <th scope="col">current</th>
          <th scope="col">stoploss</th>
          <th scope="col">takeproft</th>
          <th scope="col">quantity</th>
          <th scope="col">Pnl</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" id="present_position_table">

        {% for pos in present_positions %}
        <tr>
          <th scope="row">1</th>
          <td>{{ pos.symbol }}</td>
          <td>{{ pos.time_start }}</td>
          <td>{{ pos.price_in }}</td>
          <td>{{ pos.type }}</td>
          <td>{{ pos.current_price }}</td>
          <td>{{ pos.stoploss }}</td>
          <td>{{ pos.take_profit }}</td>
          <td>{{ pos.quantity }}</td>

          <td style="background-color: rgb(21, 214, 21);">{{ pos.pnl }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  
  </div>

  <br><br><br><br><br><br>
  <h2 style="text-align: center; padding-bottom: 10px; ">Closed Positions</h2>
    <div class="table-responsive">
      <table class="table">
        <thead class="table-light">
          <tr>

            <th scope="col">#</th>
            <th scope="col">symbol</th>
            <th scope="col">Time in</th>
            <th scope="col">Price in</th>
            <th scope="col">type</th>
            <th scope="col">Timeout</th>
            <th scope="col">Priceout</th>
            <th scope="col">quantity</th>
            <th scope="col">Pnl</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" id="closed_position_table">

          {% for pos in closed_positions %}
          <tr>
            <th scope="row">1</th>
            <td>{{ pos.symbol }}</td>
            <td>{{ pos.time_start }}</td>
            <td>{{ pos.price_in }}</td>
            <td>{{ pos.type }}</td>
            <td>{{ pos.time_end }}</td>
            <td>{{ pos.price_out }}</td>
            <td>{{ pos.quantity }}</td>
            <td style="color: rgb(216, 25, 25);">{{ pos.pnl }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
    </div>
  
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script
    type="text/javascript"
    src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"
></script>
<script type="module" src="{% static 'js/index.js' %}"></script>
<!-- <script src="{% static 'js/chart.js' %}"></script> -->

</body>
</html>
