aiodns==3.1.1
aiohttp==3.9.1
aiosignal==1.3.1
amqp==5.2.0
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
cachetools==5.3.2
ccxt==4.2.18
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cryptography==41.0.7
deprecation==2.1.0
Django==5.0.1
django-crontab==0.7.1
dnspython==2.5.0
finta==1.3
frozendict==2.4.0
frozenlist==1.4.1
grpcio==1.60.0
gunicorn==21.2.0
html5lib==1.1
idna==3.6
Jinja2==3.1.3
jsonpatch==1.33
jsonpointer==2.4
kombu==5.3.5
kucoin-python==1.0.14
lightstreamer-client-lib==1.0.3
lxml==5.1.0
MarkupSafe==2.1.4
multidict==6.0.4
multitasking==0.0.11
munch==4.0.0
numpy==1.26.3
oandapyV20==0.7.2
packaging==23.2
pandas==2.1.4
pandas_ta==0.3.14b0
peewee==3.17.0
prompt-toolkit==3.0.43
protobuf==4.25.1
pycares==4.4.0
pycparser==2.21
pycryptodome==3.19.0
pymongo==4.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
rel==0.4.9.5
requests==2.31.0
requests-cache==0.5.2
setuptools==69.0.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tenacity==8.2.3
tinkoff==0.1.1
tinkoff-investments==0.2.0b62
trading-ig==0.0.21
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
yarl==1.9.4
yfinance==0.2.36
